body {
    font-size: 16px;
    overflow-x: hidden;
}

header {
    background-color: gray;
    border-bottom: solid 5px;
    font-size: 30px;
    padding: 5px;
    margin-bottom: 20px;
}

.pixel {
    background-color: aqua;
    width: 100px;
    height: 100px;
    border: solid 10px black;
    box-sizing: border-box;
}

.testado {
    background-color: rgba(0,0,255,0.23);
    margin: 5px;
    padding: 20px;

    margin: 20px 40px;

    padding-top: 400px;

    border: 10px double red;

    font-size: 1rem;
}

/* .descricao-produto, .descricao-produto2 {
    background-color: red;
} */

.promocao {
    border: solid black 10px;
}

.produto {
    background-color: blueviolet;
}

.produto span {
    background-color: red;
}

.one {
    background-color: blue;
}


.Form1 {
    border: solid;
    padding: 10px;
    margin: 10px;
}